:root {
  --branding: #03626b;
  --darkgrey: #c5c5c5;
  --lightgrey: #d1d1d1;
}


@font-face {
    font-family: 'Noir';
    src: url('./font-noir/noir_regular-webfont.woff2') format('woff2'),
         url('./font-noir/noir_regular-webfont.woff') format('woff');
    font-weight: normal bold;
    font-style: normal;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Noir';
  background-color: var(--darkgrey);
}

html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}


.showcase {
  height: 120vh;
  background: linear-gradient( rgba(0, 0, 0, .9), rgba(0, 0, 0, .9) ), url(../src/images/showcase-background.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.showcase .nav-bar {
  width: 100%;
  height: 5rem;
  background-color: var(--branding);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: fixed;
  z-index: 99;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .4);
  top: 0;
}

.showcase .nav-bar .nav-logo-box {  /*CHECK WHEN UPLOADING LOGO*/
  height: 4rem;
  width: 15rem;
  background-color: #000;
  margin: .5rem;
}

.showcase .nav-bar .nav-links {
  display: flex;
  align-items: flex-end;
}

.showcase .nav-bar .nav-links li {
  margin: 0 2rem .5rem 2rem;
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: .2rem;
  list-style: none;
  transition: all .2s;
}

.showcase .nav-bar .nav-links a {
  color: var(--lightgrey);
  text-decoration: none;
}

.showcase .nav-bar .nav-social {
  margin: 0 2rem .5rem 2rem;
}

.showcase .nav-bar .nav-social a {
  margin: 0 .5rem;
  text-decoration: none;
  color: var(--lightgrey);
  font-size: 1.8rem;
}

.nav-links li:hover {
  transform: scale(1.1);
}

.showcase .showcase-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
}

.showcase .showcase-text h1 {
  font-size: 6rem;
  border-left: .2rem solid var(--lightgrey);
  padding-left: 1rem;
  color:var(--lightgrey);
}

.showcase .showcase-text .booking-btn {
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  font-size: 2rem;
  letter-spacing: .1rem;
  margin: 5rem;
  padding: 1.5rem 2rem;
  display: inline-block;
  border-radius: .5rem;
  background-color: var(--branding);
  color: var(--lightgrey);
  transition: all .2s;
}

.showcase .showcase-text .booking-btn:hover {
  background-color: #1C7179;
  transform: scale(1.05);
  color: #fff;
}

.about-section {
  height: 50rem;
  transform: skewY(-5deg);
  position: relative;
  z-index: 0;
  background-color: var(--darkgrey);
  margin-top: -10rem;
}

.about-content {
  transform: skewY(5deg);
}

.about-images {
  width: 50%;
  display: inline-block;
  position: relative;
  z-index: 80;
}

.about-images:hover .about-img:not(:hover) {
  transform: scale(.95);
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, .2);
}

.about-img {
  width: 55%;
  position: absolute;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .4);
  border-radius: .3rem;
  transition: all .2s;
}

.about-images .about-img-1 {
  top: 0rem;
  left: 15rem;
}

.about-images .about-img-2 {
  top: 13rem;
  left: 5rem;
}

.about-images .about-img-3 {
  top: 19rem;
  left: 25rem;
}

.effect:hover {
  z-index: 90;
  transform: scale(1.02) translateY(-.5rem);
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, .5);
  border: .5rem solid var(--branding);
}

.about-section .about-text {
  width: 50%;
  height: 100%;
  float: right;
  padding-top: 12rem;
}

.about-section .about-text h2 {
  font-size: 5rem;
  text-transform: uppercase;
  height: 45%;
  width: 80%;
  display: flex;
  align-items: flex-end;
}

.about-section .about-text p {
  height: 55%;
  width: 95%;
  padding-top: 5rem;
}

.services-section {
  background: linear-gradient( rgba(0, 0, 0, .9), rgba(0, 0, 0, .9) ), url(../src/images/general2.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: var(--lightgrey);
  height: 160rem;
  padding: 6rem;
  margin-top: -10rem;
  margin-bottom: 10rem;
}

.services-section h2 {
  font-size: 5rem;
  text-transform: uppercase;
  text-align: center;
  margin-top: 20rem;
}

.services-section .services-icons {
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin: 7rem auto;
  padding: 2rem;
}

.services-icons:hover .icon-single:not(:hover) {
  transform: scale(.98);
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, .2);
  background: linear-gradient( rgba(0, 0, 0, .8), rgba(0, 0, 0, .8) ), url(../../src/images/fondo-madera.jpg);
  background-position: center;
}

.services-section .services-icons .icon-single {
  width: 30%;
  padding: 1rem;
  margin: 1rem;
  text-align: left;
  border-radius: .5rem;
  background: linear-gradient( rgba(0, 0, 0, .7), rgba(0, 0, 0, .7) ), url(../../src/images/fondo-madera.jpg);
  background-position: center;
  transition: all .2s;
}

.services-section .services-icons .icon-single img {
  display: block;
  width: 70%;
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 10rem;
}

.services-section .services-icons .icon-single span {
  padding: 0 1rem;
  display: block;
}

.services-section .services-pricing {
  width: 100%;
  display: flex;
  justify-content: center;
}

.drawing1 {
  transform: scale(.25);
  width: 30%;
}

.pricelist {
  width: 35%;
  height: 50rem;
  border-radius: .5rem;
  background: linear-gradient( rgba(0, 0, 0, .7), rgba(0, 0, 0, .7) ), url(../src/images/fondo-madera.jpg);
  background-position: center;
}

.drawing2 {
  transform: scale(.3);
  width: 30%;
}

.pricelist h3 {
  text-align: center;
  font-size: 4rem;
  text-transform: uppercase;
  margin: 3rem auto 6rem auto;
}

.pricelist .price-line {
  width: 100%;
  height: 5rem;
  margin: 0 auto;
  padding: 0 2rem;
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.social-section {
  height: 50rem;
  transform: skewY(5deg);
  background-color: var(--darkgrey);
  margin-top: -25rem;
  align-items: center;
}

.social-section .social-reviews {

  width: 70%;
  margin: auto;
  padding: 1rem 2rem;
  border-radius: 1rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .4);
  display: flex;
  align-items: center;
  background: linear-gradient( rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) ), url(../src/images/reviews-back.jpg);
  z-index: 10;
  transform: skewY(-5deg);
  background-size: cover;
}

.social-section .social-reviews img {
  width: 18rem;
  border-radius: 10rem;
  border: .5rem solid var(--branding);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .4);
}

.social-section .social-reviews .quote-marks {
  font-size: 30rem;
  color: var(--branding);
}

.social-section .social-reviews p {
  font-size: 3rem;
  color: var(--lightgrey);
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #67A0A6;
  font-size: 30px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  transform: skewY(-5deg);
  transition: all .2s;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  transform: scale(1.5);
  color: var(--branding);
}

.dot-container {
  text-align: center;
  padding: 20px;
  transform: skewY(-5deg);
}

.dot {
  cursor: pointer;
  height: 1rem;
  width: 1rem;
  margin: 0 .4rem;
  background-color: #67A0A6;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: var(--branding);
}

.drawing {
  position: relative;
  transform: scale(.2) skewY(-5deg);
  top: -35rem;
  left:60rem;
}

.social-ig {
  background: linear-gradient( rgba(0, 0, 0, .9), rgba(0, 0, 0, .9) ), url(../src/images/social-back.jpg);
  background-position: cover;
  background-attachment: fixed;
  height: 55rem;
  margin-top: -7rem;
}

.ig-content {
  padding-top: 15rem;
  height: 100%;
}

.social-ig a {
  text-decoration: none;
  color: #000;
}

.social-ig h2 {
  text-align: center;
  font-size: 5rem;
  text-transform: uppercase;
  color: var(--lightgrey);
  padding: 6rem;
}


.social-ig .social-ig-images {
  display: flex;
  justify-content: space-around;
}

.social-ig .social-ig-images .ig-img img {
  width: 22rem;
  border: .5rem solid var(--branding);
  border-radius: .5rem;
}

.info {
  display: flex;
  align-items: center;
  width: 80%;
  margin: 10rem auto;
}

.map {
  width: 40%;
  height: 40rem;
  background-color: #000;
  margin: 5rem;
}

.info-text {
  width: 50%;
  height: 40rem;
  display: flex;
  flex-direction: column;
}

.opening-hours {
  height: 50%;
}

.timetable {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 5rem auto;
  text-transform: uppercase;
  font-size: 2rem;
}

.timetable div {
  display: flex;
  justify-content: space-between;
}

.contact {
  width: 80%;
  height: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.contact-heading {
  font-size: 3.5rem;
  text-transform: uppercase;
  color: var(--branding);
  text-align: center;
  margin: 1rem;
}

.dash-detail {
  width: 5rem;
  height: .2rem;
  background-color: var(--branding);
  margin: 0 auto;
}

.contact-number {
  margin-top: 5rem;
  font-size: 2rem;
  text-align: center;
}

.footnote {
  padding: 3rem;
  font-size: 1.5rem;
}

footer {
  display: flex;
  flex-direction: column;
}

footer .copy {
  background-color: #000;
  height: 10rem;
}

footer .copy .copy-social {
  text-align: center;
}

footer .copy .copy-social a {
  text-decoration: none;
  font-size: 2.5rem;
  margin: 1rem;
  color: var(--branding);
}
