@import "variables.css";


.social-icon {

}

.btn {
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  font-size: 1.8rem;
  margin: 2.5rem 0 0 0rem;
  padding: 1.5rem 2rem;
  display: inline-block;
  border-radius: .5rem;
  background-color: var(--branding);
  color: var(--grey);
}

.quote-marks {
  font-size: 30rem;
  color: var(--branding);
}
